<div class="wrapper">
    <div ng-include="'./public/navbar.html'"></div>
    <div class="container-fluid section">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12">
                <h4>Companies</h4>
            </div>
            <div class="col-md-4 col-lg-4 col-12 mb-1">
                <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#modalCompanyDetails">Add
                    New</button>
            </div>
            <div class="col-md-3 lg-3 xl-3 col-12 ml-auto">
                <input class="form-control" placeholder="Search" ng-model="search.name"/>
            </div>
        </div>

        <div class="row mt-3" ng-init="getCompanyList();">
            <div class="col-12 col-md-12 col-lg-12"  ng-if="CompanysList.length > 0">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered text-nowrap" style="width: 100%;">
                        <thead>
                                <th>#</th>
                                <th>Name</th>
                                <th>Owner</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="_data in CompanysList | filter: search.name">
                                <td class="text-nowrap">{{$index +1}}
                                        <i class="fa fa-circle" ng-class="{'text-success': _data.approval == 0, 'text-danger': _data.approval == 1}" aria-hidden="true"></i>

                                </td>
                                <td>{{_data.name}}</td>
                                <td>{{_data.owner}}</td>
                                <td>{{_data.mobile}}</td>
                                <td>{{_data.email}}</td>
                                <td class="text-center text-nowrap"><button class="btn btn-warning btn-sm" ng-click="getCompanyDetails(_data)"  data-toggle="modal" data-target="#modalCompanyDetails"><i class="fa fa-pencil"></i> Edit</button>&nbsp;<button ng-if="_data.status == 0" class="btn btn-danger btn-sm" ng-click="deleteCompanyDetails(_data.status, _data.id)"><i class="fa fa-trash"></i> Delete</button>
                                    &nbsp;<button ng-if="_data.status == 1" class="btn btn-info btn-sm" ng-click="deleteCompanyDetails(_data.status, _data.id)"><i class="fa fa-history"></i> Restore</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-12" ng-if="CompanysList.length == 0">
            <div class="alert alert-danger text-center">
                <strong>No record found!</strong>
              </div>
        </div>

    </div>
</div>



<!-- The Modal add Company details-->
<div class="modal fade" id="modalCompanyDetails">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Company Details</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                        <form class="form" name="form">
                                <div class="row">
                                <div class="col-12">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" ng-model="CompanyDetails[0].name" id="name"
                                    name="Name" required>
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label for="owner">Owner Name:</label>
                                <input type="text" class="form-control" ng-model="CompanyDetails[0].owner" id="owner"
                                    name="owner" required>
                            </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="mibile">Mobile No.:</label>
                                <input type="number" class="form-control" ng-model="CompanyDetails[0].mobile" id="mibile"
                                    name="mibile" ng-blur="VerifyCompanyContacts()" required>
                                    <label class="text-danger" ng-if="mobileexist">
                                        {{mobileexist}}
                                    </label>
                            </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="altmobile">Alt. Mobile No.:</label>
                                    <input type="number" class="form-control" ng-model="CompanyDetails[0].altmobile" id="altmobile"
                                        name="altmobile">
                                </div>
                                </div>

                            
                            <div class="col-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" ng-model="CompanyDetails[0].email" id="email"
                                    name="email" ng-blur="VerifyCompanyContacts()" required>
                                    <label class="text-danger" ng-if="emailexist">
                                        {{emailexist}}
                                    </label>
                            </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label for="address">Address:</label>
                                <textarea class="form-control" ng-model="CompanyDetails[0].address" id="address"
                                    name="address"></textarea>
                            </div>
                            </div>
                            
                            <div class="col-12">
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" ng-model="CompanyDetails[0].description" id="description"
                                    name="description"></textarea>
                            </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="gstin">GSTIN:</label>
                              <input class="form-control" id="gstin" ng-model="CompanyDetails[0].gstin"/>
                            </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                            <label for="type">image:</label>
                                            <input type="file" id="logoimg" ngf-select ng-model="logoimg" name="file"
                                                ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
                                                ngf-resize="{width: 100, height: 100}">
                                        </div>
                            </div>

                            <div class="col-12">
                                   <a class="btn btn-secondary" ng-class="{'btn-success':CompanyDetails[0].approval == 0 , 'btn-danger':CompanyDetails[0].approval == 1}" ng-click="SetCompanyApproval()">{{btnlbl}}</a>
                            </div>
                            </div>
                        
                        </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-disabled="form.$invalid || (emailexist || mobileexist)"
                    ng-click="SaveCompanyDetails()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>