<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="" ng-click="getBackToOrderlist()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> &nbsp;
    <a class="navbar-brand" href="">Order Details</a>

    <a class="navbar-brand ml-auto" href="" ng-click="saveOrderDetails()"><i class="fa fa-check" aria-hidden="true"></i></a>
    <div class="row">
        <div class="col-8"><input class="form-control btn-sm" placeholder="Search Products" ng-model="search.name"></td></div>
    <div class="col-4">
        <select class="form-control btn-sm" id="type" ng-model="productType" ng-options="obj.value as obj.title for obj in ProductsType">
            <option value="" selected disabled>Type</option>
        </select>
    </div>
    </div>
  </nav>


  


  <div class="container-fluid section mt-4" ng-init="InitFunctions();VerifyUserRole()">
    <div class="row">
        <div class="col-6 col-md-6 col-lg-6 col-xl-6" ng-if="userDetails.role != 'customer' && userDetails.role != 'customer_admin'">
         <div class="form-group">
             <label for="customername">Customer:</label>
             <input type="text" class="form-control btn-sm" ng-model="orderDetails.customername" id="customername"
                 name="customername" uib-typeahead="obj as obj.name for obj in CustomersList | filter:$viewValue " typeahead-on-select="setCustomerDetails(orderDetails.customername)" placeholder="Search Customer" autocomplete="off"  >
         </div>
        </div>
        <div class="col-6 col-md-6 col-lg-6 col-xl-6" ng-class="{'col-12':(userDetails.role == 'customer' && userDetails.role == 'customer_admin')}">
         <div class="form-group">
             <label for="orderdate">Order Date:</label>
             <input ui-date="dateOptions" class="form-control btn-sm" ng-model="orderDetails.orderdate" id="orderdate"
                 name="orderdate" autocomplete="off" >
         </div>
        </div>
     </div>


     <div class="row">
        <div class="table-responsive">
            <table class="table table-striped  table-bordered text-nowrap">
                <thead>
                   <!--  <tr>
                        <td colspan="3">
                            <input class="form-control btn-sm" placeholder="Search Products" ng-model="search.name"></td>
                        <td colspan="1">
                                <select class="form-control btn-sm" id="type" ng-model="productType" ng-options="obj.value as obj.title for obj in ProductsType">
                                        <option value="" selected disabled>Type</option>
                                    </select>
                        </td>
                    </tr> -->
                </thead>
                <thead>
                    <th>#</th>
                    <th>Staff</th>
                    <th>Product</th>
                    <th>Qty.</th>
                    <th>Unit</th>
                </thead>
                <tbody>
                    <tr ng-repeat="_data in ProductsList | filter:{ type: productType } | filter: search.name" ng-class="{booked_row:validateEntries(_data) , recently_updated:_data.isRecentlyUpdated}">
                        <td>{{$index +1}}</td>
                        
                            <td><button class="btn btn-sm" ng-click="ToggleForStaff(_data)"><i class="fa fa-circle-thin" ng-if="_data.forstaff != 1" aria-hidden="true"></i> <i class="fa fa-circle" ng-if="_data.forstaff == 1" aria-hidden="true"></i></button></td>
                        
                        <td>{{_data.name}} <small class="marathi-input">{{_data.marathi_name}}</small></td>
                        <td><input type="number" class="form-control"  ng-model="_data.qty" placeholder="Qty." style="width:3.5em" ng-change="validateRecentlyUpdated(_data,{{_data}})"/></td>
                        <td><select class="form-control" ng-model="_data.unit" style="width: 80px;" ng-options="obj for obj in productUnit" ng-change="validateRecentlyUpdated(_data,{{_data}})">
                            <option value="" selected disabled>Select</option>
                        </select></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  </div>