<div class="wrapper">
    <div ng-include="'./public/navbar.html'"></div>
    
    <div class="container-fluid section">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12">
                <h4>Purchase Orders</h4>
            </div>
            <div class="col-md-4 col-lg-4 col-12">
                <a class="btn btn-sm btn-info" href="#!place_poorder">Add
                    New</a>
            </div>

            <div class="col-md-4 col-lg-4 col-12 ml-auto">
                <div class="row">
                    <div class="col-md-6 col-6 col-lg-6">
                            <div class="form-group">
                                    <label for="order-date">Order Date From</label>
                                    <input ui-date="dateOptionsFilters" id="order-date" ng-model="orderDate_from" ng-change="ListPOOrders(orderDate_from, orderDate_to)" class="form-control"/>
                                </div>
                    </div>
                    <div class="col-md-6 col-6 col-lg-6">
                            <div class="form-group">
                                    <label for="order-date">To</label>
                                    <input ui-date="dateOptionsFilters" id="order-date-to" ng-model="orderDate_to" ng-change="ListPOOrders(orderDate_from, orderDate_to)" class="form-control"/>
                                </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 colxl-4">
                <input class="form-control" placeholder="Search" ng-model="search.order"/>
            </div>
        </div>

        <div class="row mt-3" ng-init="ListPOOrders()">
            <div class="col-12 col-md-12 col-lg-12" ng-if="poOrdersList.length > 0">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered text-nowrap" style="width: 100%;">
                        <thead>
                                <th>#</th>
                                <th>Date</th>
                                <th>Vendor</th>
                                <th>No. of Itms</th>
                                <th>Amount</th>
                                <th>Ordered By</th>
                                <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="_data in poOrdersList | filter:search.order">
                                <td>{{$index +1}}</td>
                                <td>{{_data.orderdate | date:'dd/MM/yyyy'}}</td>
                                <td>{{_data.cust_name}}</td>
                                <td>{{_data.total_items}}</td>
                                <td class="text-right">{{_data.netamt | number:2}}</td>
                                <td>{{_data.ordered_by}}</td>
                                <td class="text-center text-nowrap"><a class="btn btn-warning btn-sm" ng-click="setSessionId(_data.id)"href="#!place_poorder" ng-show="(userDetails.role == 'Superadmin' || userDetails.role == 'Admin' )" ><i class="fa fa-pencil"></i> Edit</a>&nbsp;<button class="btn btn-danger btn-sm" ng-click="deleteOrder(_data.id)" ><i class="fa fa-trash"></i> Delete</button>&nbsp;<button class="btn btn-info btn-sm" ng-if="_data.paymentstatus == 0" ng-click="SetPaidStatus(_data.id)"><i class="fa fa-inr"></i> Paid</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-12" ng-if="poOrdersList.length == 0">
            <div class="alert alert-danger text-center">
                <strong>No record found!</strong>
              </div>
        </div>

    </div>
</div>

<!-- <script>
  $(document).ready(function() {
    var table = $('#example').DataTable( {
        fixedHeader: true,
        lengthChange: true,
        buttons: [ 'copy', 'excel', 'pdf' ]
    } );
 
    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
} );
</script> -->
