<div class="wrapper">
    <div ng-include="'./public/navbar.html'"></div>
    <div class="container-fluid section">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12">
                <h4>Products</h4>
            </div>
            <div class="col-md-4 col-lg-4 col-12 mb-1" ng-if="userDetails.role == 'Superadmin' || userDetails.role == 'Admin'" >
                <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#modalProductDetails">Add
                    New</button>
                <button class="btn btn-sm btn-info mb-1" data-toggle="modal"
                    data-target="#ModalImportProductsDetails">Upload</button>
            </div>
            <div class="col-md-3 lg-3 xl-3 col-12 ml-auto">
                <input class="form-control" placeholder="Search" ng-model="search.name"/>
            </div>
        </div>

        <div class="row mt-3" ng-init="getProductList();productTypes();productUnits()">
            <div class="col-12 col-md-12 col-lg-12" ng-if="ProductsList.length > 0">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered text-nowrap" style="width: 100%;">
                        <thead>
                                <th>#</th>
                                <th>Name</th>
                                <th>Marathi Name</th>
                                <th>Unit</th>
                                <th>Type</th>
                                <th ng-if="userDetails.role == 'Superadmin' || userDetails.role == 'Admin'" ></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="_data in ProductsList | filter: search.name">
                                <td>{{$index +1}}</td>
                                <td>{{_data.name}}</td>
                                <td class="marathi-input">{{_data.marathi_name}}</td>
                                <td>{{_data.unit}}</td>
                                <td>{{_data.type}}</td>
                                <td ng-if="userDetails.role == 'Superadmin' || userDetails.role == 'Admin'"  class="text-center text-nowrap"><button class="btn btn-warning btn-sm" ng-click="getProductDetails(_data)"  data-toggle="modal" data-target="#modalProductDetails"><i class="fa fa-pencil"></i> Edit</button>&nbsp;<button class="btn btn-danger btn-sm" ng-click="deleteProductDetails(_data.id)"><i class="fa fa-trash"></i> Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-12" ng-if="ProductsList.length == 0">
            <div class="alert alert-danger text-center">
                <strong>No record found!</strong>
              </div>
        </div>

    </div>
</div>

<!-- The Modal add product details-->
<div class="modal fade" id="modalProductDetails">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Product Details</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form class="form" name="form">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" ng-model="productDetails[0].name" id="name"
                                    name="Name">
                            </div>

                            <div class="form-group">
                                <label for="marathi-name">Name in Marathi:</label>
                                <input type="text" class="form-control marathi-input" id="marathi-name"
                                    ng-model="productDetails[0].marathi_name" name="Name in Marathi"/>
                                    <label class="text-primary pointer" ng-click="showSet = !showSet"><i class="fa fa-info"></i> Marathi Keaybord charecter set Image</label>
                            </div>
                            <div class="col-12" ng-if="showSet">
                                <!-- <img src="../images/fornt-charset.png" class="img-responsive"/> -->
                                <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <td ng-repeat="char in MarathiCharSet | startFrom : 0 | limitTo : 19" ng-click="createWordFromLatter(char)">
                                            <div class="p-1">
                                            <span>{{char}}</span>
                                            <br>
                                            <span class="marathi-input text-bold">{{char}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ng-repeat="char in MarathiCharSet | startFrom : 19 | limitTo : 19" ng-click="createWordFromLatter(char)">
                                            <div class="p-1">
                                            <span>{{char}}</span>
                                            <br>
                                            <span class="marathi-input text-bold">{{char}}</span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td ng-repeat="char in MarathiCharSet | startFrom : 38 | limitTo : 19" ng-click="createWordFromLatter(char)">
                                            <div class="p-1">
                                            <span>{{char}}</span>
                                            <br>
                                            <span class="marathi-input text-bold">{{char}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ng-repeat="char in MarathiCharSet | startFrom : 57 | limitTo : 19" ng-click="createWordFromLatter(char)">
                                            <div class="p-1">
                                            <span>{{char}}</span>
                                            <br>
                                            <span class="marathi-input text-bold">{{char}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ng-repeat="char in MarathiCharSet | startFrom : 76 | limitTo : 19" ng-click="createWordFromLatter(char)">
                                            <div class="p-1">
                                            <span>{{char}}</span>
                                            <br>
                                            <span class="marathi-input text-bold">{{char}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ng-repeat="char in MarathiCharSet | startFrom : 95 | limitTo : 19" ng-click="createWordFromLatter(char)">
                                            <div class="p-1">
                                            <span>{{char}}</span>
                                            <br>
                                            <span class="marathi-input text-bold">{{char}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    
                                </table>

                            </div>
                            </div>
                            <div class="form-group">
                                <label for="unit">Unit:</label>
                                <select class="form-control" id="unit" ng-model="productDetails[0].unit" ng-options="obj for obj in productUnit">
                                    <option value="" selected disabled>Select unit</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="type">Type:</label>
                                <select class="form-control" id="type" ng-model="productDetails[0].type" ng-options="obj for obj in product_type">
                                    <option value="" selected disabled>Select type</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="type">image:</label>
                                <input type="file" id="imgInp" ngf-select ng-model="prdImage" name="file"
                                    ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
                                    ngf-resize="{width: 100, height: 100}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    ng-click="SaveProductDetails()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal import product details-->
<div class="modal fade" id="ModalImportProductsDetails">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Import Products Details</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 col-md-6 col-lg-6 col-xl-6 text-center">
                        <a href="./files/productDetails.xlsx" style="text-decoration:none;color:black;"  download><i class="fa fa-download" style="font-size:50px;"></i>
                            <br>
                            <b>Download excel file</b>
                        </a>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="customFile" name="filename" onchange="angular.element(this).scope().UploadFile(this.files)">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                          </div>
                    </div>
                    <div class="col-12">
                      <label class="text-danger">{{errormsg}}</label>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Import" class="btn btn-success"  ng-disabled="!SelectedFileForUpload"
                    ng-click="ParseExcelDataAndSave()" />
                </div>
              </div>
    </div>
</div>

<!-- <script>
  $(document).ready(function() {
    var table = $('#example').DataTable( {
        fixedHeader: true,
        lengthChange: true,
        buttons: [ 'copy', 'excel', 'pdf' ]
    } );
 
    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
} );
</script> -->