<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="" ng-click="getBackToOrderlist()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> &nbsp;
    <a class="navbar-brand" href="">Order Details</a>
    <a class="navbar-brand ml-auto invisible" href=""><i class="fa fa-check" aria-hidden="true"></i></a>

    <div class="row">
        <div class="col-8"><input class="form-control btn-sm" placeholder="Search" ng-model="search.name"></td></div>
    <div class="col-4">
        <select class="form-control btn-sm" id="type" ng-model="productType" ng-options="obj.value as obj.title for obj in ProductsType">
            <option value="" selected disabled>Type</option>
        </select>
    </div>
    </div>

  </nav>

  <div class="container-fluid section mt-4" ng-init="getOrderDetails();productUnits();productTypes();">
    <div class="row">
        <div class="col-6 col-md-6 col-lg-6 col-xl-6">
         <div class="form-group">
             <label class="col-12">Customer:</label>
             <!-- <input type="text" class="form-control btn-sm" ng-model="orderDetails.customername" id="customername"
                 name="customername" placeholder="Customer" readonly > -->
                 <strong class="col-12">{{orderDetails.customername}}</strong>
         </div>
        </div>
        <div class="col-6 col-md-6 col-lg-6 col-xl-6">
         <div class="form-group">
             <label class="col-12">Order Date:</label>
             <!-- <input type="date" class="form-control btn-sm" ng-model="orderDetails.orderdate" id="orderdate"
                 name="orderdate" readonly > -->
                 <strong class="col-12">{{orderDetails.orderdate | date:"dd/MM/yyyy"}}</strong>
         </div>
        </div>
     </div>


     <div class="row">
        <div class="table-responsive">
            <table class="table table-striped text-nowrap">
                <thead>
                   <!--  <tr>
                        <td colspan="3">
                            <input class="form-control btn-sm" placeholder="Search Products" ng-model="search.name"></td>
                        <td colspan="2">
                                <select class="form-control btn-sm" id="type" ng-model="productType" ng-options="obj.value as obj.title for obj in ProductsType">
                                        <option value="" selected disabled>Type</option>
                                    </select>
                        </td>
                    </tr> -->
                </thead>
                <thead class="text-nowrap">
                    <th>#</th>
                    <th>Product</th>
                    <th>Qty.</th>
                    <th>Rate (/10 Kg.)</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    <tr ng-repeat="_data in orderdetails | filter:{ type: productType } | filter: search.name">
                        <td><label class="p-2">{{$index +1}}</label></td>
                        <td><small class="text-danger" ng-if="_data.forstaff == 1">(staff)</small> {{_data.productname}} <small class="marathi-input">{{_data.marathi_name}}</small>
                        <br ng-if="_data.changed_item != null"><small ng-if="_data.changed_item != null"><i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i> {{_data.changed_productname}}</small>
                        </td>
                        <td>{{_data.dil_qty}} {{_data.unit}}</td>
                        <td class="text-right">{{(_data.price | number:2) || 'Not Defined'}}</td>
                        <td class="text-right">{{(_data.netprice = ((_data.dil_qty * _data.price)/10) |number:2 )||"Not Defined"}}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right"><strong>Total</strong></td>
                        <td colspan="2" class="text-right"><strong>{{(orderdetails[0].totalAmount = getTotal() |number:2 )|| "00.00" }}/-</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  </div>